%h1.titulo_principal.fondo_contacto CONTACTO
.container
	.row
		.col-md-6
			.imagen_logo
				img(src="img/logo_numedi_gris.jpg")
		.col-md-6
			.formulario GRACIAS POR TU MENSAJE, NOS PONDREMOS EN CONTACTO PRONTO. :)